:root {
    --accent-color: #2196F3;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --primary-bg-color: #E5E5E5;
    --button-bg-color: #F5F4FA;
    --white-text-color: #FFFFFF;
    --futter-bg-color: #2F303A;
}

body {
    color: var(--title-text-color);
    background-color: var(--white-text-color);
    font-family: Roboto;
}

.list {
    list-style: none;
}


/* header */

.header {}


/* logo */

.logo {
    color: var(--accent-color);
    text-decoration: none;
}

.logo-span {
    color: var(--title-text-color);
}


/* nav */

.header-link {
    color: var(--title-text-color);
    text-decoration: none;
}

.header-link:hover,
:focus {
    color: var(--accent-color);
}


/* auth-nav */

.header-tel,
.header-mail {
    color: var(--primary-text-color);
    text-decoration: none;
}

.header-tel:hover,
:focus {
    color: var(--accent-color);
}

.header-mail:hover,
:focus {
    color: var(--accent-color);
}


/* hero */

.hero {
    background-color: var(--futter-bg-color);
}

.hero-title {
    color: var(--button-bg-color);
}

.hero-button {
    color: var(--button-bg-color);
    background-color: var(--accent-color);
}


/* main */

.desc {
    color: var(--primary-text-color);
}


/* comand */

.section-command {
    background-color: var(--button-bg-color);
}


/* footer */

.footer {
    background-color: var(--futter-bg-color);
}

.footer>.logo {
    color: var(--accent-color)
}

.footer .logo-span {
    color: var(--white-text-color);
}

.adrress-link {
    color: var(--white-text-color);
    text-decoration: none;
}

.mail,
.tel {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}